html, body {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
}
.footer {
    padding: 20px;
    flex-shrink: 0;
    background-color: rgb(68, 68, 68);
}

.bubble {
    margin-left: 40px;
    padding: 20px;
}

/* For an more sophisticate tags editing in the future... or not*/
.tag {

}

.tag p {

}

.tag button {

}
